<div class="container-fluid mt-5 mb-5" style="height: 768px;">
  <div class="row">
    <div class="col">
      <h1 class="display-4 text-center">Find Nearby Fuel Stations</h1>
      <p class="lead text-center">Enter your coordinates to get top 3 nearest fuel stations</p>
    </div>
  </div>

  <!--  display error message here-->
  <div class="alert alert-danger" role="alert" *ngIf="error">
    Error: {{error}}
  </div>

  <div class="row mt-5">
    <div class="col">
      <form name="findStationForm" #findStationForm="ngForm" (ngSubmit)="onSubmit(findStationForm.value)">
        <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
            <label for="x_coordinate" class="control-label">X Coordinate</label>
            <input type="number" class="form-control"
                   id="x_coordinate" placeholder="Enter longitude"
                   name="x_coordinate" ngModel required>

          </div>

          <div class="col-md-4">
            <label for="y_coordinate" class="control-label">Y Coordinate</label>
            <input type="number" class="form-control"
                   id="y_coordinate" placeholder="Enter latitude"
                   name="y_coordinate" ngModel required>
          </div>

          <div class="col-md-12 d-flex justify-content-center pt-5">
            <button type="submit" class="btn btn-primary btn-lg pl-5 pr-5" [disabled]="!findStationForm.valid">Find</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row pt-5" *ngIf="isSuccess">
    <div class="col-12 pb-3">
      <h3 class="text-center">Search Results</h3>
    </div>
    <div class="col-lg-8 mx-auto">


      <ul class="list-group shadow">


        <li class="list-group-item" *ngFor="let nearestStation of nearestStations">

          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body text-center">
              <h5 class="mt-0 font-weight-bold mb-2">Station Name</h5>
              <p class="font-italic text-muted mb-0 large">{{nearestStation.station_name}}</p>

            </div>

            <div class="media-body text-center">
              <h5 class="mt-0 font-weight-bold mb-2">Distance</h5>
              <p class="font-italic text-muted mb-0 large">{{nearestStation.distance}} KM</p>

            </div>

          </div>

        </li>
      </ul>
    </div>
  </div>



</div>
